html, body{
  font-family: 'Montserrat', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

*{
  padding: 0;
  margin: 0;
}

.header{
    background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url(image/bannerCorte.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 13rem;
    padding-bottom: 12rem;
}

.navbar{
  background-color: transparent;
  transition: all 0.5s ease;
}

.navbarAnimation{
  background-color: #00a0a0;
}

.nav-item{
  transition: all 0.3s ease-in-out;
}

.nav-item:hover{
  border-bottom: 5px solid aqua;
}

.menu2{
  text-decoration:none; 
  color: #626261;
}

i{
  color: #00a0a0;
}

.botao{
  background-color: #00a0a0;
  color: white;
  border-radius: 0;
  padding: 20px;
}

.botao2{
  background-color: #aaaaaa;
  color: white;
  border-radius: 0;
  padding: 20px;
}

.footer{
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 0.7rem;
}

hr{
  border: 2px solid #bfbfbf;
  margin: 0 4rem;
}

.titulo-footer{
  color: #626261;
}

.footer-item{
  margin-left: 1.5rem;
  text-decoration: none;
  color: #626261;
  font-size: 1rem;
}

.social{
  color: #aaaaaa;
  margin-right: 1rem;
}